body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar, .footer {
  flex-shrink: 0;
}

.content {
  flex: 1;
  padding: 20px;
}


.home-page, .search-page, .bookshelf-page {
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  width: 80%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-icon {
  margin-left: -35px;
  cursor: pointer;
}

.success-message {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.add-button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-button:hover {
  background-color: #218838;
}

@media (max-width: 600px) {
  .book-card {
    width: 100%;
    max-width: 300px;
  }

  .search-input {
    width: calc(100% - 20px);
  }
}
